<% include layout/header.ejs %>
<% include layout/navbar.ejs %>

<div class="container mainCont">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1>
                <%-data%>
            </h1>
            <img src="https://media.giphy.com/media/wsab8KPaE3ojlWOaKh/giphy.gif" alt="">
        </div>
    </div>
</div>

<% include layout/footer.ejs %>