<% include layout/header.ejs %>
<% include layout/navbar.ejs %>

<div class="container mainCont">
    <h1>Вибачте, такої сторінки не існує!</h1>
    <img src="https://media.giphy.com/media/wsab8KPaE3ojlWOaKh/giphy.gif" alt="">
</div>

<% include layout/footer.ejs %>