<% include layout/header.ejs %>

<% include layout/navbar.ejs %>

<script src="/javascript/add-new-item.js" defer></script>
<script src="/javascript/edit.js" defer></script>
<div class="container mainCont">
    <h2>Додавання нового транспорту</h2>
    <hr>
    <h4>Основна інформація</h4>

    <form>
        <div class="form-group">
            <label for="">Марка</label>
            <select class="form-control" name="mark" required id="mark">
                <option value="none">Виберіть</option>
            </select>
            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
        </div>
        <div class="form-group">
            <label for="">Модель</label>
            <input type="text" class="form-control" name="model" required>
        </div>
        <div class="form-group">
            <label for="">Тип кузова:</label>
            <select class="form-control" name="bodyCar" required id="body">
                <option value="none">Виберіть</option>
            </select>
            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
        </div>
        <div class="form-group">
            <label for="">Країна виробника:</label>
            <select class="form-control" name="country" required id="country">
                <option value="none">Виберіть</option>
            </select>
            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
        </div>
        <div class="form-group">
            <label for="">Рік</label>
            <input type="number" class="form-control" name="year" required>
        </div>
        <div class="form-group">
            <label for="">Колір:</label>
            <select class="form-control" name="color" required id="color">
                <option value="none">Виберіть</option>
            </select>
            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
        </div>
        <div class="form-group">
            <label for="">Лінк на зображення:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">URL</span>
                </div>
                <input type="text" class="form-control" name="image" required>
            </div>
        </div>

        <div class="form-group">
            <label for="">Ціна за день оренди:</label>
            <div class="input-group">
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="price"
                    required>
                <div class="input-group-append">
                    <span class="input-group-text">грн/день</span>
                </div>
            </div>
        </div>
        <hr>
        <h4>Технічні характеристики</h4>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Двигун
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Тип двигуна</label>
                            <select class="form-control" name="typeEngine" required id="engine">
                                <option value="none">Виберіть</option>
                            </select>
                            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
                        </div>
                        <div class="form-group">
                            <label for="">Тип палива</label>
                            <select class="form-control" name="typeFuel" required id="fuel">
                                <option value="none">Виберіть</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Потужність</label>
                            <div class="input-group">
                                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                                    name="power" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">К. С.</span>
                                </div>
                            </div>
                            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Трансмісія
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Тип трансмісії</label>
                            <select class="form-control" name="typeTransmission" required id="transmission">
                                <option value="none">Виберіть</option>
                            </select>
                            <small class="form-text text-muted">Поле обов'язкове для заповнення!</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-success">Зберегти</button>
                <button type="button" class="btn btn-warning" id="cencel-btn">Відміна</button>
            </div>
        </div>
    </form>
</div>
<% include layout/footer.ejs %>