<% include layout/header.ejs %>
<% include layout/navbar.ejs %>
<div class="wrapper">
  <div class="container my-container">
    <form id="form">
      <input
        type="text"
        placeholder="Пошук"
        class="my-input-style"
        name="keyword"
        id="search"
      />
    </form>
    <div class="row" id="cards-container"><% include layout/card.ejs %></div>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/page/<%- +page - 1%>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <% for (let i = 1; i <= countPages; i++) { %>
          <li class="page-item"><a class="page-link" href="/page/<%-i%>"><%-i%></a></li>
        <% } %>
        <li class="page-item">
          <a class="page-link" href="/page/<%- +page + 1%>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
  </div>
  <% if (dataUser.ROLE) { %>
  <a href="/add">
    <div class="addnew"><i class="fas fa-plus"></i></div>
  </a>
  <%}%>
</div>
<script src="/javascript/load-vehicle.js"></script>

<% include layout/footer.ejs %>
