<% include layout/header.ejs %>
<% include layout/navbar.ejs %>

<div class="container my-container">
    <div class="row">
        <% include layout/card.ejs %>
    </div>
</div>
<% if (ADMIN) { %>
<a href="/add">
    <div class='addnew'>
        <i class="fas fa-plus"></i>
    </div>
</a>
<%}%>


<% include layout/footer.ejs %>