<% include layout/header.ejs %>
<% include layout/navbar.ejs %>


<div class="container my-container">
  <div class="row">
    <div class="shadow-sm col-lg-6 offset-md-3 login-panel-style">
      <div class="body-p">
        <form method="POST" id="form">
          <h1 class="h3 mb-3 font-weight-normal">Авторизація</h1>
          <div class="alert" role="alert" id="alert_message" class="alert"></div>
          <div class="form-group">
            <input name="login" type="text" class="form-control" required id="loginLogin" aria-describedby="emailHelp" placeholder="Електронна адреса">
          </div>
          <div class="form-group">
            <input name="pass" type="password" class="form-control" required id="loginPass" placeholder="Пароль">
          </div>
          <button type="submit" class="btn btn-red btn-lg btn-block" id="btn-login">Увійти</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/log.js"></script>

<% include layout/footer.ejs %>