

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #7f8c8d;
	display: block;
	border-radius: 100px;
	position: relative;
	user-select: none;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
    transition: 0.3s;
    transition: .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
}

input:checked + label {
	/* background: linear-gradient(to right, #8a2387, #e94057, #f27121);
	background: linear-gradient(to right, #fdc830, #f37335); */
	  background-color: #FF8F00;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 20px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}