<div class="modal-window-bg hiden" id="modal-window-id">
  <div class="modal-window-my hiden" id="modal-window-my-id">
    <div class="nx-modal-top">
      <span>
        <h5>Редагування користувача</h5>
      </span>
      <i class="fas fa-times" onclick="closeModal()"></i>
    </div>
    <div class="nx-modal-body">
      <form action="">
        <div class="form-group">
          <label for="user-login" class="col-form-label">Логін:</label>
          <input type="text" class="form-control" required id="user-login">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="if-user-admin">
          <label class="form-check-label" for="if-user-admin">Права адміністратора</label>
        </div>
      </form>
    </div>
    <div class="nx-modal-bottom">
      <button class="btn btn-sm btn-secondary" id="close-model-window" onclick="closeModal()">Відміна</button>
      <button type="button" class="btn btn-sm btn-success" id="save-user-data">Зберегти зміни</button>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/modal-window.css">