<nav class="navbar navbar-expand-lg navbar-dark bg-red fixed-top">

    <div class="container">
        <a class="navbar-brand" href="/">Vehicle Rent</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Головна<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Про проект<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <% if (!LOGIN) { %>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Увійти<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/signin">Реєстрація<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="right-side">
            <% if (LOGIN) { %>
            <div class="dropdown">
                <div class="details">
                    <div class="menu-container" id="menu-container">
                        <img class="thumbnail-image" id="thumbnail-image" alt="">
                        <p><%-LOGIN%></p>  
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="my-menu hiden" id="my-menu-id" aria-hidden="true">
                        <ul>
                            <li>
                                <a href="#" class="header-menu">
                                    <div>
                                        <img class="thumbnail-image-menu" id="thumbnail-image-menu" src="https://coubsecure-s.akamaihd.net/get/b112/p/channel/cw_avatar/33bd3fb4778/cf1f7cfc98a9a758401b0/profile_pic_new_1474645315_dssoj1_att-url-download.gif"
                                            alt="">
                                    </div>
                                    <div class="name-menu">
                                        <%-LOGIN%>
                                    </div>
                                    <div class="email-menu"></div>
                                </a>
                            </li>
                            <li><a class="items-menu" href="#"><i class="fas fa-sliders-h"></i> Налаштування</a></li>
                            <%if(ROLE == 1) {%>
                            <li><a class="items-menu" href="/admin-panel/users"><i class="fas fa-sliders-h"></i> Адмін
                                    панель</a></li>
                            <%}%>
                            <li><a class="items-menu" href="/api/auth/logout"><i class="fas fa-sign-out-alt"></i> Вийти</a></li>
                            <li class="toggle">
                                <div>
                                    <input type="checkbox" id="switch">
                                    <label for="switch">Toggle</label>
                                </div>
                                <label>Темна тема</label>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-bg"></div>
                </div>
            </div>
            <script src="/javascript/nav-bar.js"></script>
            <script src="/javascript/dropdown-menu.js"></script>
            <% } %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-grip-horizontal"></i>
            </button>
        </div>
    </div>
</nav>
